.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}

.navButton {
    padding: 1rem;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.current{
    font-weight: bold;
    background-color: lightgreen;
}

.navButton:hover {
    background-color: aqua;
}